In [1]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
devengine = create_engine("sqlite:///C:/Git/tennis_atp/database/bets_sqllite.db")

In [25]:
elo_data = pd.read_sql_query(
    "Select DISTINCT * From Elo_AllMatches_Daily_Clay_ThreeMonths",
    con=devengine,
)

In [26]:
elo_data=elo_data[elo_data['Sex']=='Womens']

In [27]:
for x in range(1,4):
    for y in range(0,10):
        lower=x+(y*0.1)
        upper=x+((y+1)*0.1)

        test1=elo_data[(elo_data['Elo_Dog_Odds'].ge(lower))&(elo_data['Elo_Dog_Odds'].le(upper))].copy()
        percent=len(test1[test1['Winner']!=test1['Elo_Fav']])/len(test1)
        STAKE=500
        test1['Profit']=test1.apply(lambda x: -STAKE if x['Winner']==x['Elo_Fav'] else (STAKE * x['Elo_Dog_Odds'])-STAKE,axis=1)
        if test1['Profit'].sum() >0 and len(test1) >20:
            print(lower,upper,percent)
            print(test1['Profit'].sum())

1.3 1.4 0.7532467532467533
630.0
1.4 1.5 0.7011494252873564
790.0
1.6 1.7000000000000002 0.6588235294117647
3645.0
1.8 1.9 0.5857142857142857
2745.0
1.9 2.0 0.5535714285714286
2240.0
2.0 2.1 0.5961538461538461
5730.0
2.2 2.3 0.5348837209302325
4350.0
2.3 2.4 0.5333333333333333
3800.0
2.4 2.5 0.4878048780487805
3955.0
2.7 2.8 0.4
1460.0
3.1 3.2 0.375
2125.0
3.3 3.4 0.3333333333333333
1235.0

In [29]:
for x in range(1,4):
    for y in range(0,10):
        lower=x+(y*0.1)
        upper=x+((y+1)*0.1)

        test1=elo_data[(elo_data['Elo_Fav_Odds'].ge(lower))&(elo_data['Elo_Fav_Odds'].le(upper))].copy()
        percent=len(test1[test1['Winner']==test1['Elo_Fav']])/len(test1)
        STAKE=500
        test1['Profit']=test1.apply(lambda x: -STAKE if x['Winner']!=x['Elo_Fav'] else (STAKE * x['Elo_Fav_Odds'])-STAKE,axis=1)
        if test1['Profit'].sum() >0 and len(test1) >20:
            print(lower,upper,percent)
            print(test1['Profit'].sum())

1.1 1.2 0.8928571428571429
1660.0
2.4 2.5 0.4411764705882353
1345.0

In [56]:
pd.read_sql_query('SELECT * FROM TodaysMatches --ADD Time VARCHAR;',con=devengine)

,Date,Sex,Tournament,Player_1,Player_2,Player_1_Odds,Player_2_Odds,Surface,Resulted,Time
0,2022-09-18,Mens,Davis Cup0,Denis Istomin,Shintaro Mochizuki,1.85,1.91,Various surfaces,True,18:00
1,2022-09-18,Mens,Davis Cup0,Bor Artnak,Kristjan Tamm,1.63,2.21,Various surfaces,True,21:30
2,2022-09-18,Womens,Chennai WTA0,Nadia Podoroska,Linda Fruhvirtova,2.41,1.57,Hard,True,23:40
3,2022-09-18,Mens,Szczecin challenger0,Dennis Novak,Raul Brancaccio,2.05,1.72,Clay,True,00:00
4,2022-09-18,Mens,Rennes challenger5,Hugo Gaston,Dominic Thiem,2.52,1.49,Hard,False,00:55
...,...,...,...,...,...,...,...,...,...,...
56,2022-09-18,Womens,Tokyo103,Danielle Lao,Ellen Perez,1.41,2.76,Hard,False,12:00
57,2022-09-18,Womens,Tokyo103,Isabella Shinikova,Kurumi Nara,3.67,1.25,Hard,False,13:30
58,2022-09-18,Womens,Tokyo103,Fernanda Contreras Gomez,Kyoka Okamura,1.39,2.88,Hard,False,13:30
59,2022-09-18,Womens,Tokyo103,Chihiro Muramatsu,Rina Saigo,2.03,1.70,Hard,False,15:00
60,2022-09-18,Womens,Tokyo103,Carol Zhao,Xiaodi You,1.53,2.39,Hard,False,15:00

In [57]:
elo_data_today = pd.read_sql_query(
    "Select * From Elo_AllMatches_Daily_Clay_Today --where date < '2022-09-01' and date > '2022-06-31' and (Surface like 'Hard' or Surface like '') --and Elo_Fav_Est_Odds < 1.8",
    con=devengine,
)

In [58]:
elo_data_today[(elo_data_today['Elo_Dog_Odds'].ge(3))&(elo_data_today['Elo_Dog_Odds'].le(4))]

,Surface,Date,Sex,Winner,Resulted,Time,Elo_Fav,Elo_Dog,Elo_Fav_Odds,Elo_Dog_Odds,Elo_Fav_Est_Odds,Elo_Dog_Est_Odds,Elo_Fav_Elo,Elo_Dog_Elo,Elo_Fav_Total,Elo_Dog_Total
1,Clay,2022-09-18,Womens,Reka Luca Jani,False,20:00,Irina Camelia Begu,Reka Luca Jani,1.25,3.48,1.374809,3.668028,1860.951798,1690.475647,32,31
3,Clay,2022-09-18,Womens,Jesika Maleckova,False,20:30,Erika Andreeva,Jesika Maleckova,1.25,3.48,1.648907,2.541052,1630.744958,1555.618052,11,12

In [59]:
elo_data_today[((elo_data_today['Elo_Fav_Odds'].ge(2))&(elo_data_today['Elo_Fav_Odds'].le(2.1)))]

Empty DataFrame
Columns: [Surface, Date, Sex, Winner, Resulted, Time, Elo_Fav, Elo_Dog, Elo_Fav_Odds, Elo_Dog_Odds, Elo_Fav_Est_Odds, Elo_Dog_Est_Odds, Elo_Fav_Elo, Elo_Dog_Elo, Elo_Fav_Total, Elo_Dog_Total]
Index: []

In [60]:
elo_data_today

,Surface,Date,Sex,Winner,Resulted,Time,Elo_Fav,Elo_Dog,Elo_Fav_Odds,Elo_Dog_Odds,Elo_Fav_Est_Odds,Elo_Dog_Est_Odds,Elo_Fav_Elo,Elo_Dog_Elo,Elo_Fav_Total,Elo_Dog_Total
0,Clay,2022-09-18,Womens,Tamara Korpatsch,False,20:30,Leolia Jeanjean,Tamara Korpatsch,1.93,1.77,1.676051,2.479179,1601.038023,1533.029760,16,32
1,Clay,2022-09-18,Womens,Reka Luca Jani,False,20:00,Irina Camelia Begu,Reka Luca Jani,1.25,3.48,1.374809,3.668028,1860.951798,1690.475647,32,31
2,Clay,2022-09-18,Mens,Dennis Novak,True,00:00,Raul Brancaccio,Dennis Novak,1.72,2.05,1.769455,2.299621,1791.642728,1746.116093,79,56
3,Clay,2022-09-18,Womens,Jesika Maleckova,False,20:30,Erika Andreeva,Jesika Maleckova,1.25,3.48,1.648907,2.541052,1630.744958,1555.618052,11,12
4,Clay,2022-09-18,Womens,Rodrigues Alves Carolina Meligeni,False,19:00,Rodrigues Alves Carolina Meligeni,Kiara Toth Amarissa,1.40,2.68,1.896693,2.115208,1470.243581,1451.301180,19,4
5,Clay,2022-09-18,Womens,Emma Navarro,False,19:00,Nigina Abduraimova,Emma Navarro,3.15,1.30,1.963188,2.038219,1597.053505,1590.537962,2,11